/* Estilos para o Modal de Detalhes do Produto */
.modal-detalhes {
    position: fixed;
    width: 60dvw;
    height: 80dvh;
    overflow-y: auto;
    top: 50%;
    left: 50%;
    z-index: 120000; /* Certifique-se de que o z-index seja alto o suficiente */
    transform: translate(-50%, -50%);
    border: 1px solid #000;
    border-radius: 8px;
    box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2), 0px 24px 38px 3px rgba(0,0,0,0.14), 0px 9px 46px 8px rgba(0,0,0,0.12);
    padding: 32px;
    background-color: #232020; /* Usei um cinza claro para o fundo */
    color: #ffffff;
}

/* Estilos para a imagem dentro do Modal de Detalhes */
.modal-detalhes-imagem {
    width: 100%;
    height: 300px;
    margin-top: 16px;
    border-radius: 4px;
}


/* Estilos para o Modal de Confirmação de Compra */
.modal-carrinho {
    position: fixed;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
    border-radius: 8px;
    box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2), 0px 24px 38px 3px rgba(0,0,0,0.14), 0px 9px 46px 8px rgba(0,0,0,0.12);
    padding: 32px;
    background-color: #232020; /* Fundo branco padrão */
    color: #ffffff;
}
