/* src/screens/cadastro/Cadastro.css */

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2c2c2c9f;
    border: 2px solid rgba(103, 93, 0, 0.952);
    height: auto; /* Altura automática para se ajustar ao conteúdo */
    min-height: 500px;
    width: 90%;
    max-width: 420px; /* Largura máxima para telas maiores */
    padding: 40px;
    border-radius: 20px;
    margin: 40px auto; /* Centraliza o container na página */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    color: white;
}

.register-container h2 {
    margin-bottom: 25px;
    font-size: 2em;
}

.input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    width: 350px; /* Garante que os inputs não fiquem muito largos */
}

.input-group label {
    margin-bottom: 8px;
    text-align: left;
    font-weight: bold;
}

.input-group input {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #3f3f3f;
    color: #fff;
    font-size: 1rem;
}

.input-group input::placeholder {
    color: #a0a0a0;
}

.register-button {
    background: linear-gradient(135deg, #675d00, #4d4300);
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 350px;
    margin-top: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.register-button:hover {
    box-shadow: 0 0 10px #675d00;
}

.register-button:active {
    transform: scale(0.97);
}

.login-link {
    margin-top: 20px;
    color: #ccc;
}

.login-link a {
    color: #ffeb3b; /* Cor amarela para combinar com o tema */
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}