.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #2c2c2c9f;
    border: 2px solid rgba(103, 93, 0, 0.952);
    height: 400px;
    width: 100%;
    padding: 10px;
    border-radius: 20px;

}

.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: 350px;
    color: white;

    label {
        margin-bottom: 5px;
    }

    input {
        padding: 10px;
        border-radius: 5px;
        border: none;
    }
}

.login-button {
    background: linear-gradient(135deg, #675d00, #4d4300);
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    transition: transform 0.1s ease;
    box-shadow: 0 0 10px #675d00;
}


.login-button:active {
    transition: transform 0.1s ease;
    transform: scale(0.95);
}

.register-link {
    margin-top: 20px;
    color: #ccc;
}

.register-link a {
    color: #ffeb3b;
    /* Cor amarela para combinar com o tema */
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}