* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url("/public/img/loginBackground.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 100vh;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  padding-top: 140px;
  overflow-x: hidden;  

}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* 1. Largura da barra de rolagem vertical */
::-webkit-scrollbar {
  width: 12px; /* Largura para barras verticais */
  height: 12px; /* Altura para barras horizontais */
}

/* 2. Track (a "pista") */
::-webkit-scrollbar-track {
  background: #2c2c2c; /* Cor de fundo da pista (mais escura) */
  border-radius: 10px; /* Borda arredondada para a pista */
}

/* 3. Thumb (o "arrastador") */
::-webkit-scrollbar-thumb {
  background-color: #1d1c1c; /* Cor do thumb (bronze/cobre do seu logo) */
  border-radius: 10px; /* Borda arredondada para o thumb */
  border: 3px solid #2c2c2c; /* Uma borda para dar contraste com o track */
}

/* 4. Thumb ao passar o mouse (opcional) */
::-webkit-scrollbar-thumb:hover {
  background-color: #140e08; /* Uma cor um pouco mais clara ao passar o mouse */
}